---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <h1>Sobre Crece Contigo</h1>
    <p>Este proyecto nace con la intención de acompañarte en tu camino de crecimiento personal, ofreciéndote herramientas y recursos que te ayuden a conocerte mejor, establecer buenos hábitos y lograr tus metas.</p>
    <a href="/">Volver a Inicio</a>
</Layout>

