---
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Contacto</title>
  </head>
  <body>
    <h1>Contacto</h1>
    <p>Poner formulario de contacto.</p>
    <form>
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" required />

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />

      <label for="mensaje">Mensaje:</label>
      <textarea name="mensaje" id="mensaje" required></textarea>
      
      <button type="submit">Enviar</button>
    </form>
    <a href="/">Volver a Inicio</a>
  </body>
</html>
