<!-- Pie de pagina --> 
<footer class="bg-primary-subtle py-5 border-top border-1 border-primary-subtle">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-start mb-4 mb-md-0">
                <p> &copy; Momentum</p>
            </div>
            <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
                <nav>
                    <ul class="list-unstyled" >
                        <li class="mb-2" > <a class="text-decoration-none text-dark" href="#">Contacto</a> </li>
                        <li class="mb-2"> <a class="text-decoration-none text-dark" href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    </ul>
                </nav>
            </div>	
            <div class="col-12 col-md-4 text-center text-md-end">
                <nav>
                    <ul class="list-unstyled">
                        <li class="mb-2"> <a class="text-decoration-none text-dark" href="#"> Politica de Privacidad</a></li>
                        <li class="mb-2"> <a class="text-decoration-none text-dark" href="#"> Aviso Legal</a></li>
                        <li class="mb-2"> <a  class="text-decoration-none text-dark" href="#"> Politica de cookies</a></li>
                    </ul>
                </nav>
            </div>
        </div>    
    </div>
 </footer>